.options {
	&__body {
		&-options {
			padding: 40px 10px 0px 10px;
			display: flex;
			flex-direction: column;

			&-parent {
				padding-bottom: 25px;
			}

			&-row {
				display: flex;
				&-checkbox {
				    height: 11px;
				    width: 11px;
				    border: 1px solid #b1b1b1;
				    margin-right: 18px;
				    border-radius: 3px;
				    position: relative;
				    top: 5px;
				}

				&-input {
					font-size: 17px;
				    border: 0;
				    outline: none;
				    border-bottom: 1px solid #ccc;
				    padding-bottom: 7px;
				   	flex: 1;
				    margin-right: 20px;
				}
				&-delete {
				    width: 20px;
				    height: 20px;
				    opacity: 0.3;
				    cursor: pointer;
				    position: relative;
				    top: 8px;
				}
				&-delete:hover {
					opacity: 0.7;
				}
				&-delete:active {
					opacity: 0.5;
				}
			}
		}

		&-options-footer {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			&-default {
				font-size: 15px;
			    border: 0;
			    outline: none;
			    border-bottom: 1px solid #ccc;
			    padding-bottom: 7px;
			    flex: 1;
			    margin-right: 20px;
			}

			&-text {
				margin-right: 15px;
				font-weight: 300;
			}
			&-dropdown {
				width: 200px;
			}
		}
	}

	&__error {
		&-duplicate {
			color: #e46363;
		    padding-top: 5px;
		    padding-left: 30px;
		}
	}
}