.fieldbuilder {
	&__title {
		display: flex;
		flex-direction: column;
		border: 2px solid #d9edf7;
		border-radius: 10px 10px 0 0;


		&-header {
			background-color: #d9edf7;
			color: #2a7298;
			font-weight: 700;
			padding: 10px;
		}

	}

	&__body {
		padding: 15px;
		display: flex;
		flex-direction: column;
		border: 2px solid #d9edf7;

		&-header {
			display: flex;
			padding-top: 5px;
			&-input {
				font-size: 20px;
			    border: 0;
			    outline: none;
			    border-bottom: 1px solid #ccc;
			    padding-bottom: 7px;
			    width: 400px;
			    margin-right: 20px;
			padding-left: 10px;

			}
			&-select {
				flex: 1;
				&__control {
					padding: 5px;
					border-radius: 0 !important; // overwrite 3rd party classes
				}
			}
		}

		&-options {
			padding: 40px 10px 0px 10px;
			display: flex;
			flex-direction: column;
		}

		&-submit {
			display: flex;
			flex-direction: column;
			border-top: 3px solid #ececec;
			padding-top: 20px;

			&-required {
				display: flex;
				justify-content: flex-end;
				margin-bottom: 15px;
				&-text {
					margin-right: 10px;
					font-weight: 300;
				}
			}
			&-buttons {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.button {
					margin-left: 15px;
				}
				.button__loading {
					margin-left: 15px;
				}
			}
			&-success {
				color: green;
			}
		}

		::placeholder {
			opacity: 0.6;
			font-weight: 300;
		}
	}

	&__error {
		&-max-capacity {
			color: #e29b17;
			opacity: 0;
			transition: opacity ease-in-out 1s;
			padding-top: 20px;
		    padding-bottom: 10px;
			&-show {
				opacity: 1;
			}
		}
		&-submit {
			font-size: 15px;
			color: #e46363;
		}
	}
}