.fieldbuilder {
	&__title {
		display: flex;
		flex-direction: column;
		border: 2px solid #d9edf7;
		border-radius: 10px 10px 0 0;


		&-header {
			background-color: #d9edf7;
			color: #2a7298;
			font-weight: 700;
			padding: 10px;
		}

	}

	&__body {
		padding: 15px 15px 10px 15px;
		display: flex;
		flex-direction: column;
		border: 2px solid #d9edf7;

		&-header {
			display: flex;
			padding-top: 5px;
			@media (max-width: 510px) {
				flex-direction: column;
			}
			&-input {
				font-size: 20px;
			    border: 0;
			    outline: none;
			    border-bottom: 1px solid #ccc;
			    padding-bottom: 7px;
			    width: 400px;
			    margin-right: 20px;
				padding-left: 10px;
				@media (max-width: 650px) {
					width: 200px;
				}
				@media (max-width: 510px) {
					width: 100%;
					padding-left: 0;
					margin-right: 0;
					margin-bottom: 10px;
				}

			}
			&-select {
				flex: 1;
				&__control {
					padding: 5px;
					border-radius: 0 !important; // overwrite 3rd party classes
				}
			}
		}

		&-options {
			padding: 40px 10px 0px 10px;
			display: flex;
			flex-direction: column;
		}

		&-submit {
			display: flex;
			flex-direction: column;
			border-top: 3px solid #ececec;
			padding-top: 20px;

			&-required {
				display: flex;
				justify-content: flex-end;
				margin-bottom: 15px;
				&-text {
					margin-right: 10px;
					font-weight: 300;
				}
			}
			&-buttons {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				flex-wrap: wrap;

				@media (max-width: 595px) {
					flex-direction: column;
					align-items: initial;
				}

				.button {
					margin-left: 15px;
					margin-bottom: 10px;
					@media (max-width: 595px) {
						margin-left: 0;
						width: 100%;
						padding: 12px 0px;

					}
				}
				.button__loading {
					margin-left: 15px;
					margin-bottom: 10px;
					@media (max-width: 595px) {
						margin-left: 0;
						width: 100%;
						padding: 12px 0px;
					}
				}
			}
			&-success {
				color: green;
				margin-bottom: 10px;
				@media (max-width: 595px) {
					margin-bottom: 17px;
					text-align: center;
				}
			}
		}

		::placeholder {
			opacity: 0.6;
			font-weight: 300;
		}
	}

	&__error {
		&-max-capacity {
			color: #e29b17;
			opacity: 0;
			transition: opacity ease-in-out 1s, padding ease-in-out 200ms;
			padding-top: 20px;
		    padding-bottom: 10px;
			@media (max-width: 595px) {
				font-size: 13px;
				padding-top: 10px;
				text-align: center;
			}

			&-show {
				opacity: 1;
				@media (max-width: 595px) {
					font-size: 13px;
					padding-top: 20px;
					text-align: center;
					padding-bottom: 20px;
				}
			}

		}
		&-submit {
			font-size: 15px;
			color: #e46363;
			margin-bottom: 10px;
			@media (max-width: 595px) {
				margin-bottom: 17px;
				text-align: center;
			}
		}
	}
}